#head > #header_banner {
  width: 100%;
  height: 120px;
}
#head > #header_banner > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/index_header/271a0ad51f0b0760ed9cb46791fb2b31.jpg) center;
  background-size: auto 120px;
}
#head .header_nav {
  height: 40px;
  background: #333333;
}
#head .header_nav .header_nav_left {
  float: left;
  font-size: 12px;
  line-height: 40px;
  color: #424242;
}
#head .header_nav .header_nav_left a {
  color: #b0b0b0;
}
#head .header_nav .header_nav_left a:hover {
  color: #fff;
}
#head .header_nav .header_nav_left a:nth-last-child(5) {
  position: relative;
  display: inline-block;
}
#head .header_nav .header_nav_left a:nth-last-child(5)::after {
  content: '';
  display: none;
  width: 0;
  height: 0;
  border: 10px solid rgba(255, 255, 255, 0);
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 50%;
  bottom: 0;
  margin-right: -10px;
  z-index: 10;
}
#head .header_nav .header_nav_left a:nth-last-child(5):hover::after {
  display: none;
}
#head .header_nav .header_nav_left a:nth-last-child(5):hover i {
  height: 148px;
}
#head .header_nav .header_nav_left a:nth-last-child(5) > i {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: -80%;
  width: 124px;
  height: 0;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  transition: height 0.3s;
  line-height: 1;
  overflow: hidden;
}
#head .header_nav .header_nav_left a:nth-last-child(5) > i > img {
  width: 90px;
  height: 90px;
  margin: 18px auto 12px;
}
#head .header_nav .header_nav_right {
  float: right;
  font-size: 12px;
  line-height: 40px;
  color: #424242;
}
#head .header_nav .header_nav_right .topbar-info {
  float: right;
}
#head .header_nav .header_nav_right .link {
  color: #b0b0b0;
}
#head .header_nav .header_nav_right .sop {
  padding-left: 20px;
  float: right;
  width: 120px;
  height: 100%;
  position: relative;
}
#head .header_nav .header_nav_right .sop:hover > a {
  background: #fff;
  color: #ff6700;
}
#head .header_nav .header_nav_right .sop a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
#head .header_nav .header_nav_right .sop:hover .cart-menu {
  height: 100px ;
}
#head .header_nav .header_nav_right .sop .cart-menu {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 31;
  width: 316px;
  height: 0;
  color: #424242;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  text-align: center;
}
#head .header_nav .header_nav_right .sop .cart-menu > div {
  line-height: 100px;
}
.header_bottom {
  position: relative;
}
.header_nav2 {
  height: 100px;
}
.header_nav2 > .header_logo {
  float: left;
}
.header_nav2 > .header_logo > a {
  margin-top: 23px;
  display: block;
  width: 55px;
  height: 55px;
  background: #ff6700;
  position: relative;
}
.header_nav2 > .header_logo > a:hover::before {
  background: url(../../images/index_header/mi-home.png) no-repeat center;
}
.header_nav2 > .header_logo > a:hover::after {
  background: url(../../images/index_header/mi-home.png) no-repeat 55px center;
}
.header_nav2 > .header_logo > a::before {
  content: "";
  display: block;
  background: url(../../images/index_header/mi-home.png) no-repeat -55px center;
  width: 55px;
  height: 55px;
  position: absolute;
  transition: all 0.3s;
}
.header_nav2 > .header_logo > a::after {
  content: "";
  display: block;
  background: url(../../images/index_header/mi-logo.png) no-repeat center;
  width: 55px;
  height: 55px;
  position: absolute;
  transition: all 0.3s;
}
.header_nav2 .nav {
  z-index: 10;
  width: 800px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  font-size: 16px;
  float: left;
}
.header_nav2 .nav > .navcat {
  float: left;
  width: 127px;
  padding-right: 15px;
  padding-left: 7px;
  height: 88px;
}
.header_nav2 .nav .nav_list {
  float: left;
  list-style-type: none;
}
.header_nav2 .nav .nav_list:hover > .nav_li_hov {
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  height: 230px;
}
.header_nav2 .nav .nav_list > .nav_li {
  float: left;
}
.header_nav2 .nav .nav_list > .nav_li:hover > a {
  color: #ff6700;
}
.header_nav2 .nav .nav_list > .nav_li > a {
  font-size: 16px;
  color: #333;
  display: block;
  padding: 26px 10px 38px;
}
.header_nav2 .nav .nav_list > .nav_li_hov {
  position: absolute;
  left: 0;
  top: 99px;
  width: 100vw;
  overflow: hidden;
  height: 0;
  background: #fff;
  transition: all 0.3s;
  z-index: 100;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul {
  display: none;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul li:nth-child(1)::before {
  display: none  !important;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul > li {
  position: relative;
  float: left;
  width: 180px;
  padding: 35px 12px 0;
  text-align: center;
  font-size: 12px;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul > li::before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100px;
  width: 1px;
  top: 35px;
  left: 0;
  background: #e0e0e0;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul > li img {
  width: 160px;
  height: 110px;
  margin: 0 auto;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul > li span {
  width: 100%;
  display: block;
  color: #333;
  line-height: 20px;
}
.header_nav2 .nav .nav_list > .nav_li_hov ul > li p {
  margin: 0;
  line-height: 20px;
  color: #ff6700;
}
.lookall {
  float: right;
  font-size: 16px;
  color: #434343;
}
.lookall:hover {
  color: #ff7600;
}
.fuwu {
  font-size: 16px;
  color: #333;
  display: inline-block;
  padding: 26px 10px 38px;
}
.fuwu:hover {
  color: #ff7600;
}
.select {
  float: right;
  height: 50px;
  position: relative;
  margin-top: 25px;
  width: 295px;
}
.select:hover input {
  border-color: #b0b0b0;
}
.select:hover button {
  border-color: #b0b0b0;
}
.select > input {
  box-sizing: border-box;
  position: absolute;
  right: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-right: 0px;
  width: 245px;
}
.select > button {
  box-sizing: border-box;
  position: absolute;
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  right: 0;
}
.select > button:hover {
  background: #ff7600;
  border: 0;
}
.disblock {
  display: block !important;
}
