.wjzhenshuai {
  width: 100%;
  background: #f5f5f5;
}
.title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.box_db {
  width: 100%;
  position: relative;
}
.box_db > .box_timeout {
  height: 300px;
  padding-top: 39px;
  border-top-width: 1px;
  border-top-style: solid;
  background: #f1eded;
  text-align: center;
  border-top-color: #e53935;
  width: 234px;
  float: left;
}
.box_db > .box_timeout > .round {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
.box_db > .box_timeout > img {
  margin: 25px auto;
}
.box_db > .box_timeout > .desc {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
.box_db > .box_timeout > .countdown {
  width: 168px;
  margin: 28px auto 0;
}
.box_db > .box_timeout > .countdown > span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}
.box_db > .box_timeout > .countdown > i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
.box_db .box_db_tabe {
  float: left;
  width: 978px;
  margin-left: 14px !important;
  min-height: 1px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.box_db .box_db_tabe > ul {
  height: 340px;
  position: relative;
  width: 7000px;
  z-index: 1;
}
.box_db .box_db_tabe > ul > li {
  float: left;
  width: 234px;
  margin-right: 14px;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
  background: #fff;
  transition: all 0.6s;
  position: relative;
  list-style: none;
}
.box_db .box_db_tabe > ul > li > a {
  display: block;
  height: 300px;
  padding-top: 39px;
  position: relative;
  color: #757575;
}
.box_db .box_db_tabe > ul > li > a > .content > .thumb {
  display: block;
  width: 160px;
  margin: 0 auto 22px;
}
.box_db .box_db_tabe > ul > li > a > .content > .thumb > img {
  width: 160px;
  height: 160px;
}
.box_db .box_db_tabe > ul > li > a > .content > .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  line-height: 18px;
}
.box_db .box_db_tabe > ul > li > a > .content .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
.box_db .box_db_tabe > ul > li > a > .content .price {
  margin: 0;
  color: #ff6709;
}
.box_db .box_db_tabe > ul > li > a > .content .price > del {
  color: #b0b0b0;
}
.box_db .swiper-controls {
  position: absolute;
  right: 0;
  top: -34px;
}
.box_db .swiper-controls span {
  display: inline-block;
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  margin-left: -1px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
}
.box_db .swiper-controls span:hover > i {
  color: #ff7600;
}
.box_db .swiper-controls span i {
  font-size: 20px;
  line-height: 16px;
  font-weight: 900;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
}
.home-banner-box {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}
.home-banner-box > a {
  display: block;
}
.home-banner-box > a > img {
  width: 1226px;
  height: 120px;
}
.main_sj {
  padding-bottom: 8px;
}
.sj_box .sj_box_left {
  float: left;
  height: 614px;
  width: 234px;
}
.sj_box .sj_box_left > a {
  display: block;
  margin-bottom: 14px;
  transition: all 0.3s linear;
}
.sj_box .sj_box_left > a:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.sj_box .sj_box_left > a > img {
  height: 614px;
  width: 234px;
}
.sj_box .sj_box_right {
  float: left;
  height: 614px;
  width: 992px;
}
.sj_box .sj_box_right > .sj_son {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sj_box .sj_box_right > .sj_son:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.sj_box .sj_box_right > .sj_son img {
  width: 160px;
  height: 160px;
  margin: 30px auto 38px;
}
.sj_box .sj_box_right > .sj_son p {
  font-size: 14px;
  color: #333;
}
.sj_box .sj_box_right > .sj_son i {
  display: block;
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}
.sj_box .sj_box_right > .sj_son em {
  display: block;
  margin: 0 10px 14px;
  color: #ff6700;
  font-size: 14px;
}
#tv65,
#tv60 {
  height: 300px;
}
#tv65 > img,
#tv60 > img {
  height: 300px;
}
.posre {
  position: relative;
}
.posre > .more {
  position: absolute;
  top: 0;
  right: 0;
}
.posre > .more > ul {
  margin: 0;
  padding: 16px 0 0;
  list-style-type: none;
  font-size: 16px;
}
.posre > .more > ul > li {
  margin: 0 0 0 30px;
  display: inline-block;
  padding: 0;
  transition: border 0.3s;
  cursor: pointer;
}
.posre > .more > ul > li:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.posre > .more > ul > li.tab-active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.brick-item {
  float: left;
}
.brick-item li {
  height: 93px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.brick-item li img {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}
.brick-item li h3 {
  margin: -10px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  width: 94px;
}
.brick-item li p {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}
